<a href="https://colab.research.google.com/github/spencerlore/IS4487-Main/blob/main/Assignments/assignment_4_data_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS4487 Week 4 - Assignment

### Outline

Our Goals with this Project:

1. Import and pre-review the data
2. Examine or profile the data: assess the shape, data types, distributions, missing values or inconsistencies
3. Exploratory data analytics (EDA): create visualizations to better understand the variables and relationships in the data

<a href="https://colab.research.google.com/github/vandanara/UofUtah_IS4487/blob/main/Assignments/assignment_4_data_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### AdviseInvest Data Dictionary

| Variable | Description | Type | Code |
|:---|:---|:---|:---|
| Answered | Customer response | Binary | 0: customer did not answer scheduled call; 1: customer answered scheduled call |
| Income | Customer income in US dollars | Numeric | |
| Female | Customer gender | Binary | 0: female; 1: male |
| Age | Age in years | Numeric | |
| Job | Nature of job | Categorical | 0 : unemployed; 1 : entry level position; 2 : midlevel position; 3 : management/ self-employed/ highly qualified employee/ officer |
| Num_dependents | Number of people for whom the customer provides maintenance | Numeric | |
| Rent | Customer rents | Binary | 0: no; 1: yes |
| Own_res | Customer owns residence | Binary | 0: no; 1: yes |
| New_car | Recent new car purchase | Binary | New car purchase in the last 3 months: 0: no, 1: yes |
| Chk_acct | Checking account status | Categorical | 0 : no checking account; 1: checking < 200 USD; 2 : 200 < checking < 2000 USD; 3: 2000 < checking < 35000 USD; 4: >= 3500 USD |
| Sav_acct | Average balance in savings account | Categorical | 0 : no savings account; 1 : 100 <= savings < 500 USD; 2 : 500 <= savings < 2000 USD; 3 : 2000 < savings < 35000 USD; 4: >= 3500 USD |
| Num_accts | Number of accounts owned by customer | Numeric | |
| Mobile | Mobile phone | Binary | 0: customer provided non‚Äêmobile phone for follow‚Äêup call; 1: customer provided mobile phone for follow‚Äêup call |
| Product | Type of product purchased after conversation with sales rep | Categorical | 0: customer did not answer call; 1: customer answered but did not purchase a product; 2: customer answered and purchased Beginner plan; 3: customer answered and purchased Intermediate plan; 4: customer answered and purchased Advanced plan |

### Load Libraries

Import the libraries you will need, such as:
- Pandas
- Matplotlib
- Seaborn

In [1]:
#Import libraries üîß
import pandas as pd
import matplotlib as plt
import seaborn as sns

## Task 1: Import the data and preview it

We are going to import data from the AdviseInvest historical dataset into a dataframe (in GitHub go to the folder called DataSets - click on *'Raw'* button to get the url of raw dataset)

As in the AdviseInvest case, we will assume `answered` is our target variable. Let us a

In [2]:
#Import the data üîß
url = "https://raw.githubusercontent.com/vandanara/UofUtah_IS4487/refs/heads/main/DataSets/adviseinvest_historical_data.csv"
df = pd.read_csv(url)

## Task 2: Initial Data Understanding: examine or profile the data

 - Profile the dataframe - obtain the shape of the table, data types, counts of variables, missing values
 - Are there any duplicate rows?
 - Describe the dataframe - Look for any outliers

In [4]:
#View the shape of the data
print(df.shape)

(29504, 14)

In [5]:
#View the datatypes, counts and missing values üîß
print(df.info)

<bound method DataFrame.info of        answered  income female  age  job  num_dependents  rent  own_res  \
0             1   13520      0   23    0               1     1        0
1             0   14780      0   22    2               1     0        1
2             1   37570      0   62    2               1     0        0
3             0   12450      0   33    2               1     0        1
4             0   12400      0   48    1               2     0        0
...         ...     ...    ...  ...  ...             ...   ...      ...
29499         1   11630      0   44    2               1     0        1
29500         0   28640      0   34    1               2     0        1
29501         1   34480      0   74    1               1     0        1
29502         1   10550      0   30    2               1     0        1
29503         0  125790      0   44    3               1     0        0

       new_car  chk_acct  sav_acct  num_accts  mobile  product
0          0.0         0         2          0       1        2
1          0.0         3         0          3       0        0
2          1.0         3         0          4       0        4
3          0.0         1         0          2       0        0
4          1.0         2         1          4       0        0
...        ...       ...       ...        ...     ...      ...
29499      1.0         3         2          2       0        4
29500      0.0         2         0          2       0        0
29501      0.0         3         0          3       0        4
29502      1.0         3         0          1       0        1
29503      0.0         1         0          4       1        0

[29504 rows x 14 columns]>

In [11]:
#Check for duplicated rows
print(df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
29499     True
29500     True
29501     True
29502     True
29503     True
Length: 29504, dtype: bool

In [12]:
#Describe the data's numerical columns - are there outliers? look at min, max values compared to meanüîß
print(df.describe())
#Answer: Yes there are outliers. For instance, the num_accounts max value.

           answered         income           age           job  \
count  29504.000000   29504.000000  29504.000000  29504.000000
mean       0.546638   33766.893303     34.773454      1.915401
std        0.497829   29379.202710     11.369865      0.658183
min        0.000000  -65600.000000     19.000000      0.000000
25%        0.000000   13550.000000     26.000000      2.000000
50%        1.000000   23310.000000     32.000000      2.000000
75%        1.000000   41690.000000     40.000000      2.000000
max        1.000000  159450.000000    132.000000      3.000000

       num_dependents          rent       own_res       new_car      chk_acct  \
count    29504.000000  29504.000000  29504.000000  29502.000000  29504.000000
mean         1.140998      0.210412      0.681128      0.240797      1.468547
std          0.348025      0.407608      0.466047      0.427575      1.234727
min          1.000000      0.000000      0.000000      0.000000      0.000000
25%          1.000000      0.000000      0.000000      0.000000      0.000000
50%          1.000000      0.000000      1.000000      0.000000      1.000000
75%          1.000000      0.000000      1.000000      0.000000      3.000000
max          2.000000      1.000000      1.000000      1.000000      3.000000

           sav_acct     num_accts        mobile       product
count  29504.000000  29504.000000  29504.000000  29504.000000
mean       0.956616      2.458345      0.091106      1.535792
std        1.483946     19.497380      0.287765      1.625916
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      2.000000      0.000000      0.000000
50%        0.000000      2.000000      0.000000      1.000000
75%        2.000000      3.000000      0.000000      3.000000
max        4.000000   3345.000000      1.000000      4.000000

In [14]:
#Remove any extreme outliers that you find - check for clues in the output of describe

## Task 3: Explore the data - create visualizations
- Explore the relationships between the target and independent variables
- Create at least five charts to show the relationships, using different chart types that are approriate to the analysis
- Ensure that all charts are clearly labeled and formatted

In [ ]:
# Chart 1

In [ ]:
# Chart 2

In [ ]:
# Chart 3 üîß

In [ ]:
# Chart 4 üîß

In [ ]:
# Chart 5 üîß

## Task 4: Summarize Your Findings
### 4.1: Are all of the variables useful and applicable to the business need?  (you should reference the target variable and whether other variables have are likely to be correlated with the target)

Write your response below:  üîß

### 4.2: In what ways could the dataset be improved?  Are there any data quality issues or data types that should be fixed?

Write your response below: üîß

## Submission Instructions

‚úÖ **Before submitting:**
- Make sure all code cells are run and outputs are visible  
- All markdown questions are answered thoughtfully  
- Submit the assignment as an **HTML file** on Canvas

In [ ]:
!jupyter nbconvert --to html "assignment_04_LastnameFirstname.ipynb"